<div style="background-color: #75846e">
  <div class="container mx-auto py-10 md:py-24">
    <div
      class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    >
      <div>
        <div class="text-white text-3xl font-semibold mb-3">Thông tin</div>
        <div class="text-white text-sm font-normal leading-7">
          60 29th Street San Francisco, <br />
          94110507-Union, Trade Center,<br />
          United States America<br />
          Call us : 0123-456-789 <br />
          Email: demo@example.com
        </div>
      </div>

      <div>
        <div class="text-white text-3xl font-semibold mb-3">Dịch vụ</div>
        <div
          class="text-white text-sm font-normal leading-7 hover:translate-x-2 cursor-pointer mb-2"
        >
          Hỗ trợ sản phẩm
        </div>
        <div
          class="text-white text-sm font-normal leading-7 hover:translate-x-2 cursor-pointer mb-2"
        >
          Tổng đài chăm sóc
        </div>

        <div
          class="text-white text-sm font-normal leading-7 hover:translate-x-2 cursor-pointer mb-2"
        >
          Đặt lịch tư vấn
        </div>
      </div>

      <div>
        <div class="text-white text-3xl font-semibold mb-3">Chính sách</div>

        <div
          class="text-white text-sm font-normal leading-7 hover:translate-x-2 cursor-pointer mb-2"
        >
          Điều kiện giao dịch chung
        </div>
        <div
          class="text-white text-sm font-normal leading-7 hover:translate-x-2 cursor-pointer mb-2"
        >
          Phương thức thanh toán
        </div>
        <div
          class="text-white text-sm font-normal leading-7 hover:translate-x-2 cursor-pointer mb-2"
        >
          Chính sách bảo mật thông tin
        </div>
        <div
          class="text-white text-sm font-normal leading-7 hover:translate-x-2 cursor-pointer mb-2"
        >
          Chính sách bảo hành
        </div>
      </div>

      <div>
        <div class="text-white text-3xl font-semibold mb-3">Bản tin</div>
        <div class="text-white text-sm font-normal leading-7 mb-3">
          Đăng ký để nhận cảm hứng, ý tưởng & <br />
          tin tức mới trong hộp thư đến của bạn
        </div>
        <input
          class="w-full mb-4 p-3 outline-none text-sm"
          placeholder="account@example.com"
        />
        <button class="bg-white text-black px-10 py-3 hover:opacity-70 text-sm">
          ĐĂNG KÝ
        </button>
      </div>
    </div>
  </div>
</div>

<!-- COPYRIGHT -->
<div style="background-color: #75846e; border-top: 1px solid #afafaf">
  <div class="container mx-auto py-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-6">
      <div class="text-white text-sm font-normal leading-7">
        © Copyright 2022. Thiết kế bởi
        <br class="sm:hidden" />
        <span class="font-bold">tungnm9x, lephuongnam-del</span>
      </div>
      <div class="sm:text-end">
        <svg
          class="cursor-pointer w-6 h-6 text-white inline-block mr-3"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: white"
          (click)="git?.click()"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
          ></path>
        </svg>
        <!--  -->
        <svg
          class="cursor-pointer w-6 h-6 text-white inline-block"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
          />
        </svg>
      </div>
    </div>
  </div>
</div>

<a #git href="https://github.com/tungnm9x" hidden target="_blank"></a>
