.page-item {
  border: 1px solid var(--primary);
  border-radius: 0px;
  background-color: white;
  border-color: #75846e;
  border-style: solid;
  border-width: 1px;
  color: var(--primary);
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0.3px;
  margin: 0px 7.5px 0px 0px;
  text-align: center;
  line-height: 27.75px;

  & .page-link {
    background: transparent;
  }

  &.active {
    border: 1px solid var(--primary);
    background-color: #75846e;
    border-color: #75846e;
    & .page-link {
      color: white !important;
    }
  }
}
