/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #44533c;
}

html,
body {
  font-family: Montserrat, sans-serif;
  color: var(--primary);
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// slider

.ngx-slider .ngx-slider-pointer {
  width: 16px !important;
  height: 16px !important;
  background-color: var(--primary) !important;
  cursor: ew-resize;
  outline: none;
  top: -5.5px !important;
}

.ngx-slider .ngx-slider-pointer:after {
  width: 0 !important;
  height: 0 !important;
}

.ngx-slider .ngx-slider-selection {
  background: var(--primary) !important;
  height: 6px !important;
}

.ngx-slider .ngx-slider-bubble {
  display: none !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border: 4px;
}
